node_modules
# Node modules
node_modules/

# Certificados, claves, y datos sensibles
*.pem
mysql_data/
.env

# Logs
*.log

# Archivos del sistema
.DS_Store
Thumbs.db

# Otros posibles
dist/
build/
serviceAccountKey.json
